include ../../main.pug
    
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous' referrerpolicy='no-referrer')
// jQuery Knob CDN
script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js' integrity='sha512-NhRZzPdzMOMf005Xmd4JonwPftz4Pe99mRVcFeRDcdCtfjv46zPIi/7ZKScbpHD/V0HB1Eb+ZWigMqw94VUVaw==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')


link(href='/css/dashboard/dashboard.css' rel='stylesheet')


input#menu-toggle(type='checkbox' name='')
.overlay
  label(for='menu-toggle')  
.main-content
  header
    
  main
    section
      h3.section-head Overview
      .analytics
        .analytic
          input.dial(data-readonly="true" type='text' value=data.arrDeviceIdsNotReturned data-max=data.totalDevices data-width='100' data-height='100' data-fgcolor='#ffb515' data-thickness='.3')
          .analytic-info
            h4.analytic-info_desc Nh&#x1EEF;ng thi&#x1EBF;t b&#x1ECB; ch&#x1B0;a tr&#x1EA3;
            h1.analytic-info_primary(style='color: #ffb515;') #{data.arrDeviceIdsNotReturned}
        .analytic
          input.dial(data-readonly="true" type='text' value=data.arrDeviceIdsDue data-max=data.arrDeviceIdsNotReturned data-width='100' data-height='100' data-fgcolor='#ff0000' data-thickness='.3')
          .analytic-info
            h4.analytic-info_desc Nh&#x1EEF;ng thi&#x1EBF;t b&#x1ECB; qu&aacute; h&#x1EA1;n nh&#x1B0;ng ch&#x1B0;a tr&#x1EA3;
            h1.analytic-info_primary(style='color: #ff0000;')
              | #{data.arrDeviceIdsDue}
        .analytic
          input.dial(data-readonly="true" type='text' value=data.arrDeviceNotWorking data-max=data.totalDevices data-width='100' data-height='250' data-fgcolor='#66EE66' data-thickness='.3')
          .analytic-info
            h4.analytic-info_desc Nh&#x1EEF;ng thi&#x1EBF;t b&#x1ECB; kh&ocirc;ng c&ograve;n ho&#x1EA1;t &dstrok;&#x1ED9;ng
            h1.analytic-info_primary(style='color: #66EE66;')
              | #{data.arrDeviceNotWorking}
    section 
      style.
        .table-custom {
          //- background-color: white;
          border: 1px solid #dee2e6;
          border-radius: 10px;
          padding: 15px
        }
      .container
        h3.ps-4 MƯỢN CHƯA TRẢ
        .table-container.table.table-custom.table-responsive
          table.table
            thead
              tr
                th Tên đầy đủ
                th Tên người dùng
                th Email
                th Số điện thoại
                th Số thiết bị
            tbody#table1-body
              // Table 1 Body
        h3.ps-4 QUÁ HẠN CHƯA TRẢ
        .table-container.table.table-custom.table-responsive
          table.table
            thead
              tr
                th Tên đầy đủ
                th Tên người dùng
                th Tên thiết bị
                th Số điện thoại
                th Mượn vào lúc
                th Ngày trả dự kiến
            tbody#loan-list
              // Device loan data will be inserted here

          //- table.table
          //-   thead
          //-     tr
          //-       th Username
          //-       th Email
          //-       th Phone
          //-       th Fullname
          //-   tbody#table2-body
          //-     // Table 2 Body
          //- table.table
          //-   thead
          //-     tr
          //-       th Username
          //-       th Email
          //-       th Phone
          //-       th Fullname
          //-   tbody#table3-body
              // Table 3 Body

    section
      .block-grid
        .revenue-card
          h3.section-head Total Revenue
          .rev-content
            img(src='/public/images/logo-huet-00.png' alt='profile')
            .rev-info
              h3 Mohsen Alizade
              h1
                | 3.5M 
                small Subscribers
            .rev-sum
              h4 Total income
              h2 $70.859
        .graph-card
          h3.section-head Graph
          .graph-content
            .graph-head
              .icon-wrapper
                .icon
                  span.las.la-eye.text-main
                .icon
                  span.las.la-clock.text-success
              .graph-select
                select(name='' id='')
                  option(value='') Septamber
            .graph-board
              canvas#revenueChart(width='100%')

script.
  var arrUserIdsNotReturned = !{arrUserIdsNotReturned}
  var arrDeviceIdsDue = !{arrDeviceIdsDue}

script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js')
script(src="/javascript/dashboard/dashboard.js") 
